# .gitignore


.env*


flask-backend/__pycache__/
flask-backend/venv/
flask-backend/*.pyc
flask-backend/*.pyo
flask-backend/*.pyd
flask-backend/.Python
flask-backend/*.sqlite3

react-frontend/node_modules/
react-frontend/dist/
react-frontend/.vite/
react-frontend/*.log


.DS_Store
.vscode/
.idea/
*.swp


core-full-stack-docker_frontend-node-modules/
*.bak

*.out
*.err

coverage/
*.lcov
